{% extends 'base.html' %}
{% block dashboard %}
{# navbar start #}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('dashboard') }}">Enhanced Hybrid Model Data Security (Client)</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
        </li>
		</li><li class="nav-item">
          <a class="nav-link" href="{{ url_for('call_page_upload') }}">Encryption</a>
        </li>
		</li><li class="nav-item">
          <a class="nav-link" href="#">Decryption</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="">{{ session['email'] }}</a></li>
          </ul>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li><li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
		</li><li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{# navbar end #}
{% block encrypt %}{% endblock %}
{% block success %}{% endblock %}
{% block upload %}{%  endblock %}
{% endblock %}