{% extends 'base.html' %}
{% block contents %}
{# navbar start #}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">Enhanced Hybrid Model Data Security</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('login') }}">Client Access</a></li>
            <li><a class="dropdown-item" href="{{ url_for('alogin') }}">Admin Access</a></li>
          </ul>
        </li>
		{% if 'email' in session %}
		<li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
		{% endif %}
		<li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{# navbar end #}
{# carosal start #}
<div id="carouselExampleSlidesOnly" class="carousel slide position-relative" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='img/hybrid_4.jpg') }}" class="d-block w-100" style="height:630px;" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='img/hybrid_5.jpg') }}" class="d-block w-100" style="height:630px;" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='img/hybrid_3.jpg') }}" class="d-block w-100"  style="height:630px;" alt="...">
    </div>
  </div>

  {# login start #}
	<div class="container position-absolute top-50 start-50 translate-middle" style="margin-top: -10%;">
		<center>
			{% for message in get_flashed_messages() %}
				<p><font color='red' size='24'>{{ message }}</font></p>
			{% endfor %}
		</center>
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				{% block login %}{% endblock %}
				{% block alogin %}{% endblock %}
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>
  {# login end #}
</div>
{# carosal end #}
{% endblock %}