{% extends 'admin.html' %}
{% block viewRec %}
	<div class="table-responsive" style="margin-top:15px;">
		<div class="">
		<table class="table">
		  <thead>
			<tr>
			  <th scope="col">ID</th>
			  <th scope="col">User name</th>
			  <th scope="col">Email</th>
			  <th scope="col">Job</th>
			  <th scope="col">Userid</th>
			  <th scope="col"></th>
			  <th scope="col"></th>
			</tr>
		  </thead>
		  <tbody>
		   {% for data in viewRec.items %}
			<tr>
			  <th scope="row">{{ loop.index }}</th>
			  <td>{{ data.username }}</td>
			  <td>{{ data.email }}</td>
			  <td>{{ data.job }}</td>
			  <td>{{ data.userid }}</td>
			  <td><a href="/update/sensorValue/{{ data.id }}" class="btn btn-warning" style="width:100%;" >Delete</a></td>
			  <td><a href="" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#atm{{ data.id }}" style="width:100%;"  >Edit</a></td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
	<!-- Pagination Links-->
		<a href="{{ url_for('register') }}" class="btn btn-info" style='width:100%;' >+ New User</a>
		
		<div class="text-left" style="margin-top:5px;">
			<a href="{{ url_for('viewRec', page=viewRec.prev_num) }}"
			   class="btn btn-outline-dark 
			   {% if viewRec.page == 1 %}disabled{% endif %}">
				&laquo;
			</a><!-- Loop through the number of pages to display a link for each-->
			{% for page_num in viewRec.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
		<!-- Check for the active page and set the link to "Active"-->
					{% if viewRec.page == page_num %}
					<a href="{{ url_for('viewRec', page=page_num) }}"
					   class="btn btn-dark">
						{{ page_num }}
					</a>
					{% else %}
					<a href="{{ url_for('viewRec', page=page_num) }}"
					   class="btn btn-outline-dark">
						{{ page_num }}
					</a>
					{% endif %}
				{% else %}
					...
				{% endif %}
			{% endfor %}    <a href="{{ url_for('viewRec', page=viewRec.next_num) }}"
			   class="btn btn-outline-dark 
			   {% if viewRec.page == viewRec.pages %}disabled{% endif %}">
				&raquo;
			</a>
		</div>
		<p class="text-right mt-3">
		   Showing page {{ viewRec.page }} of {{ viewRec.pages }}
		</p>
	</div>	
	
	{# display picture #}
	<div class="col-md-2">
		
	</div>
	{# end display picture #}
	<!-- Modal -->
	{% for num in nums %}
	<div class="modal fade" id="atm{{ num.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">ATM ID - {{ num.atmid }}</h5>
			<button type="button" class="close" num-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form action="/hospital/service/" method="POST">
				<div class="card" style="padding:5px;">
					<input type="amount" class="form-control" name="branch" style="margin-top:5px;" value="{{ num.branch }}" required />
					
					<textarea type="text" class="form-control"  name="address" style="margin-top:5px;" value="{{ num.address }}">{{ num.address }}</textarea>
					<center>
						<button class="btn btn-success" style="border-radius:20px; margin-top:5px;">Update Record</button>
					</center>
				</div>
			</form>
		  </div>
		</div>
	  </div>
	</div>
	{% endfor %}

	<!-- Modal -->
	<div class="modal fade" id="viewRec" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Add New ATM</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			<form action="{{ url_for('viewRec') }}" method="POST">
				<input type="text" name="branch" class="form-control" placeholder="Enter branch name ....." style='margin-top:3px;'/>
				<select name='banks' class='form-control' required>
						<option value=''>Select Banks</option>
						<option value='GTB'>Guaranty Trust Bank</option>
						<option value='FBANK'>First Bank</option>
						<option value='ACCESS'>Acess Bank</option>
				</select>
				<textarea type="text" name="address" class="form-control" placeholder="Enter branch name ....." style='margin-top:3px;'></textarea>
				<center>
					<button class="btn btn-info btnn-sm" style="border-radius:20px; margin-top:3px;">Submit</button>
				</center>
			</form>
		  </div>
		</div>
	  </div>
	</div>
	</div>
{% endblock %}